<!DOCTYPE html>
<html ng-app="TodoApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/app.min.css"/>

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            Todo App
          </a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div ng-view></div>

    </div>

    <script src="/js/app.min.js"></script>
  </body>
</html>
